body {
  background-color: #323333;
  font-family: 'Roboto', sans-serif;
}
.input-group {
  margin-top: 30px;
  width: 30%;
}
.input-group > input {
  border: none;
  border-bottom: 1px solid red;
  color: white;
  background-color: #323333;
}
.titles {
  margin-left: 110px;
  color: red;
  margin-top: 20px;
}
.card {
  margin: 20px;
}
.logo {
  height: 100px;
}
.container {
  margin-top: 50px;
}

.card-text {
  display: inline-block;
}
.card-text > i {
  color: yellow;
}

.bandiera-lingua {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-nav-scroll {
  margin-top: 35px;
  margin-right: 200px;
}
.btn {
  height: 38px;
  border: none;
}
.nav-item > a {
padding: 8px;
color: red;
font-size: 18px;
}
.card-img-overlay {
  display: none;
  color: red;
  background-color: #6b6b6b;
  font-size: 1.8rem;
  transform: translate(-50% -50%);
  text-align: center;
  padding-top: 10px;
}
.img-fluid:hover > .card-img-overlay{
  display: block;
}

.card-img-overlay > p {
  font-size: 15px;
}

footer {
  width: 100%;
  background: radial-gradient(circle, rgba(252,0,5,1) 0%, rgba(0,0,0,1) 100%);
}

.cent {
  margin-left: 120px;
  margin-top: 15px;
}
.right {
  margin-left: 120px;
  margin-top: 15px;
}
