body {
  background-color: lightblue;
}
.input-group {
  margin-top: 20px;
}
.titles {
  margin-left: 110px;
  color: red;
  margin-top: 20px;
}
.card {
  margin: 20px;
}
.logo {
  height: 150px;
}
.container {
  margin-top: 50px;
}

.card-text {
  display: inline-block;
}
.card-text > i {
  color: yellow;
}

.bandiera-lingua {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
